.container {
  display: flex;
  border-top: 1px solid #c7c7c7;
  padding: 0 16px;
}

.container > *:first-child {
  width: 15vw;
}

.container > *:nth-child(2)  {
  width: 33vw;
}

.textCombo > p {
  margin: 0;
}

.textCombo > p:first-of-type {
  font-size: 1em;
}

.textCombo > p:last-of-type {
  font-size: 1em;
  color: #888;
}

.logo {
  height: 18px;
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  flex-direction: row-reverse;
}

.price > i {
  margin-right: 16px;
  cursor: pointer;
}

.bottomBar {
  background: #e6e6e6;
  display: flex;
  gap: 16px;
  flex-direction: row;
  padding: 2px 16px;
}
