* {
  themePrimary: #88a09e;
  themeLighterAlt: #fafbfb;
  themeLighter: #eaf0ef;
  themeLight: #d8e3e2;
  themeTertiary: #b5c6c5;
  themeSecondary: #95acaa;
  themeDarkAlt: #7b918f;
  themeDark: #687a79;
  themeDarker: #4c5a59;
  neutralLighterAlt: #faf9f8;
  neutralLighter: #f3f2f1;
  neutralLight: #edebe9;
  neutralQuaternaryAlt: #e1dfdd;
  neutralQuaternary: #d0d0d0;
  neutralTertiaryAlt: #c8c6c4;
  neutralTertiary: #c2c2c2;
  neutralSecondary: #858585;
  neutralPrimaryAlt: #4b4b4b;
  neutralPrimary: #333333;
  neutralDark: #272727;
  black: #1d1d1d;
  white: #eeeeee;
}